.navbar {
    height: 64px;
    background: var(--surface);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
}

.logo {
    font-size: 23px;
    font-weight: 700;
    color: var(--primary);
}

.navbar-right {
    display: flex;
    gap: 80px;
}

.navbar a {
    font-weight: 550;
    font-size: 17px;
    color: rgb(65, 65, 65);
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: var(--primary);
}
