.rooms-tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tab {
  padding-bottom: 6px;
  font-weight: 500;
  color: #555;
}

.tab.active {
  border-bottom: 2px solid #4f46e5;
  color: #4f46e5;
}
